<!-- <div class="chartsContainer">
    <div class="chartContainer">
      <h2>Chart 1</h2>
      <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    </div>
  
    <div class="chartContainer">
      <h2>Chart 2</h2>
      <canvasjs-chart [options]="chartOptions2"></canvasjs-chart>
    </div>
    <div class="chartContainer">
        <h2>Chart 3</h2>
        <canvasjs-chart [options]="chartOptions3"></canvasjs-chart>
    </div>
  </div>
   -->
<div #chart style="width: 100%; height: 400px;"></div>