<div class="users">
    <div class="user-main">
        <h4>User Management</h4>
        <div class="sections">
            <div class="list-users">
                <button>Add User</button>
                <div class="user-list">
                    <!-- <div class="index-list" *ngFor="let user of usersList; let i = index">
                        <div class="name-image">
                            <img src="../../assets/profile.png" alt="Profile Picture">
                            <div class="texts">
                                <h3>{{ user.name }}</h3>
                                <h6>{{ user.role }}</h6>
                                <h5>{{ user.position }}</h5>
                            </div>
                        </div>
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </div> -->
                </div>
            </div>
            <div class="edit-users"></div>
            <div class="datas"></div>
        </div>
    </div>
</div>